body,
html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #f8f8f8 !important;
}
.btn-primary {
  color: #fff;
  background-color: #0072c8 !important;
  border-color: #0072c8 !important;
  font-weight: bold !important;
}
.Error {
  margin: 0 0 15px;
  color: #ea0000;
  max-width: 500px;
  margin: 0 auto 20px;
  font-weight: bold;
}
img {
  max-width: 100%;
}
.mt40 {
  margin-top: 40px !important;
}
.max90 {
  max-width: 90%;
  margin: 0 auto;
}
.contents {
  padding: 0 0 0 325px;
  .sheader {
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 0 10px #cecece;
    p {
      margin: 8px 0 0;
      font-weight: bold;
      color: #0072c8;
    }
    .btn-toolbar {
      justify-content: flex-end;
      button {
        margin: 0 0 0 10px;        
      }
    }
  }
  .scontent {
    padding: 80px 0;
    h2 {
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 45px;
      &.mb0 {
        margin-bottom: 0;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: bolder;
      text-transform: uppercase;
      color: #0072c8;
      margin: 20px 0 8px;
    }
    h5 {
      font-size: 19px;
      font-weight: bold;
      margin: 0;
      color: #181818;
      padding: 0 45px;
      line-height: 1.5;
    }
    .videobox {
      position: relative;
      margin-bottom: 40px;
      .play {
        width: 140px;
        height: 140px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .inbox {
      margin-top: 55px;
    }
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  background-color: #393f4f;
  min-height: 100%;
  .slogo {
    margin: 25px auto;
    display: block;
  }
  .nav {
    .nav-item {
      border: none;
      width: 100%;
      a {
        padding: 15px 40px;
        font-size: 16px;
        color: #98a6ad;
        display: block;
        &:hover,
        &.active {
          background: #2b303e;
          color: #fff;
        }
      }
    }
  }
}
.defaultstyle {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  outline: none !important;
  color: #00438c;
  strong {
    color: #0a63c3;
  }
}
.form-control {
  background-color: #e1ecf5 !important;
  height: 60px !important;
  border: 2px solid #0072c8 !important;
  padding: 5px 25px !important;
  margin-bottom: 25px !important;
}
.loginBtn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 15px 30px !important;
  font-size: 30px !important;
  line-height: 1.5;
  border-radius: 10px !important;
  font-weight: bold !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: block !important;
  width: 100% !important;
}
.centerform {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &.landing {
    text-align: center;
    background-image: url(./images/bg1.png);
    img {
      display: block;
      max-width: 800px;
      margin: 0 auto 20px;
    }
    .lgo {
      border-radius: 10px;
      font-weight: bold;
      padding: 15px 100px;
      font-size: 30px;
    }
  }
  &.login {
    text-align: center;
    background-image: url(./images/bg1.png);
    img {
      display: block;
      max-width: 500px;
      margin: 0 auto 25px;
    }
    form {
      max-width: 500px;
      margin: 0 auto 20px;
    }
  }
}
/*.form_block{
    width: 400px;
    display: table;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 5px;
  }
  .form_block > #title{
    background: #3d8577;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
  }
  .form_block > .body{
      background: #FFFFFF;
    padding: 10px;
    display: table;
  }
  
  input[type='text'],input[type='password'] {
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 4px 5px;
    background: #fff;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .loginBtn{
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    background: #f5f4ea;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
  }
  .loginBtn:hover{
    background: #c3c3ba;
  }
  .registerBtn{
    float: right;
    background: #3d8577;
    color: #fff;
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -35px;
  }
  .registerBtn:hover{
    background: #2d6358;
  }
  .Error{
    padding: 10px;
    background-color: #feeaea;
    border: 1px solid #fadadb;
    margin-bottom: 10px;
    border-radius: 3px;
  }*/